<a href="https://colab.research.google.com/github/khl-hamdaoui/Titanic_Data_Preprocessing/blob/main/Titanic_Passenger's.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic Passenger's

In this example, we are going to work on [titanic dataset](https://drive.google.com/file/d/197_tezlPuVVHYIMF3pmy3fJKnd967xut/view?usp=sharing) and apply some technics in preprocessing .

# **Data Preprocessing**

In [ ]:
# Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
df = pd.read_csv("/content/titanic-passengers.csv",delimiter=";")

# Display dimensions of dataframe
print("df shape : ",df.shape)
print("-----------------------------------------------------------------------")

# Information about the dataset
print(df.info())

df shape :  (891, 12)
-----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB
None

In [ ]:
# Display first 5 samples of items
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [ ]:
# Remove PassengerId,Name ,Ticket,Cabin column
df=df.drop(["PassengerId", 'Name','Ticket','Cabin'], axis=1)

In [ ]:
# To check and replace missing values
print("SUM : \n",df.isnull().sum())
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode().iloc[0])
print("-----------------------------------------------------------------------")
print("SUM : \n",df.isnull().sum())

SUM :
 Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64
-----------------------------------------------------------------------
SUM :
 Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the "Embarked" column
df["Survived"] = label_encoder.fit_transform(df["Survived"])
df["Sex"] = label_encoder.fit_transform(df["Sex"])
df["Embarked"] = label_encoder.fit_transform(df["Embarked"])

# Print the encoded DataFrame
print(df[["Survived","Sex","Embarked"]].sample(10))

     Survived  Sex  Embarked
537         1    0         0
148         0    0         2
164         1    0         2
263         0    1         0
699         1    0         0
627         0    1         2
40          1    0         2
802         0    1         2
246         0    1         2
201         1    0         2

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB
None